{:min-bb-version "1.3.179"
 :paths ["scripts"]
 :tasks
 {
  setup
  {:doc "Setup the project for development"
   :requires ([babashka.process :as proc])
   :task (do
           (proc/shell "git" "submodule" "update" "--init" "--recursive")
           (run 'setup-emscripten)
           (run 'download-wabt)
           (run 'create-cli-links))}

  cli
  {:doc "Compile the dbsdk-kk cli"
   :requires ([babashka.process :as proc])
   :task (let [user-opts (or *command-line-args* ["-O2"])
               koka-opts (concat user-opts ["-o" "dbsdk-kk" "main.kk"])]
           (apply proc/shell {:dir "cli"} "koka" koka-opts))}

  setup-emscripten
  {:doc "Install emscripten via emsdk"
   :task setup-emscripten/-main}

  download-wabt
  {:doc "Download the WABT tools"
   :task download-wabt/-main}

  download-xorriso
  {:doc "Download the GNU xorriso tool for creating ISOs"
   :task download-xorriso/-main}

  create-cli-links
  {:doc "Create directory links within the cli project to necessary tools/dirs"
   :task create-cli-links/-main}

  test
  {:doc "Run manual tests"
   :task run-tests/-main}
 }
}
