{:min-bb-version "1.3.179"
 :paths ["scripts"]
 :tasks
 {
  cli
  {:doc "Compile the dbsdk-kk cli"
   :requires ([babashka.process :as proc])
   :task (let [user-opts (or *command-line-args* ["-O2"])
               koka-opts (concat user-opts ["-o" "dbsdk-kk" "main.kk"])]
           (apply proc/shell {:dir "cli"} "koka" koka-opts))}

  copy-koka-libs
  {:doc "Copy necessary files from the Koka project"
   :task copy-koka-libs/-main}

  download-wabt
  {:doc "Download the WABT tools"
   :task download-wabt/-main}

  create-cli-links
  {:doc "Create directory links within the cli project to necessary tools/dirs"
   :task create-cli-links/-main}
 }
}
